@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Welcome page: su dung Inline 35, su dung hop thoai Prompt de nhap lieu, va hien thi thong tin bang ham document.write</title>

</head>
<body>
    <script language="Javascript">
        var Ten, Tuoi; // khai bao bien
        Ten = prompt("Ban hay nhap vao ten : ", "");
        Tuoi = prompt("Ban hay nhap vao tuoi : ", "");

        document.write("Chao ban : <b> " + Ten + "</U>");
        document.write("<BR>");
        document.write("Tuoi cua ban la : <U>" + Tuoi + "</U>");
    </script>
</body>
</html>

